env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3

language: python

# python versions to consider
python:
  - "2.7"

install:
    - pip install -r requirements.txt

# run scripts
script:
  - nosetests --with-coverage --cover-package=MayaPrototypeTool

after_script:
  - ./cc-test-reporter after-build --exit-code $?