env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3

language: python

# python versions to consider
python:
  - "2.7"

before_install:
  - pip install pytest pytest-cov
  - pip install coveralls

install:
  - pip install -r requirements.txt

# run scripts
script:
  - nosetests --with-coverage,coverage run test.py,coverage xml,python-codacy-coverage -r coverage.xml

after_success:
  - coveralls
  - codecov --file coverage/lcov.info --disable search

