env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3
    - CODACY_PROJECT_TOKEN=2e6a4e36e7aa4c96acbef9ac7c66fe57

language: python

# python versions to consider
python:
  - "2.7"

before_install:
  - pip install pytest pytest-cov
  - pip install codacy-coverage

install:
  - pip install -r requirements.txt

before_script:
  - pwd

# run scripts
script:
  - nosetests
  - echo $TRAVIS_BUILD_DIR
  - coverage run test.py
  - coverage xml test.py
  - python-codacy-coverage -c $TRAVIS_COMMIT -d $TRAVIS_BUILD_DIR -r coverage.xml

after_success:
  - echo "it is succeeding"
