env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3
    - CODECOV_TOKEN=07c38245-7006-4125-816e-554cf5aa71f6

language: python

# python versions to consider
python:
  - "2.7"

before_install:
  - pip install codecov
#  - pip install pytest pytest-cov
#  - pip install coveralls

install:
  - pip install -r requirements.txt

# run scripts
script:
#  - nosetests --with-coverage
#  - coverage run test/test.py
#  - coverage run --omit = test/test.py
#  - coverage xml --omit = test/test.py
  - coverage run --omit = test/* *.py
  - coverage xml --omit = test/* *.py
#  - export CODACY_PROJECT_TOKEN=2e6a4e36e7aa4c96acbef9ac7c66fe57
#  - python-codacy-coverage -c $TRAVIS_COMMIT -d $TRAVIS_BUILD_DIR -r coverage.xml

after_success:
  - codecov
#  - coveralls
#  - codecov --token=07c38245-7006-4125-816e-554cf5aa71f6
#  - codecov --file coverage/lcov.info --disable search