env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3

language: python

# python versions to consider
python:
  - "2.7"

before_install:
  - pip install pytest pytest-cov

install:
  - pip install -r requirements.txt

# run scripts
script:
  - nosetests
  - coverage run test.py
  - coverage xml test.py

after_failure:
  - echo "running failure"

after_success:
  - echo $TRAVIS_PULL_REQUEST
  - python-codacy-coverage --r coverage.xml
