env:
  global:
    - CC_TEST_REPORTER_ID=02010105b384d3a41a50c3f9130f0ce3aa35d7d5ef3258519015cc94afe417a3

language: python

# python versions to consider
python:
  - "2.7"

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-0.1.4-darwin-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

# run scripts
script:
  - nosetests --with-coverage --cover-package=MayaPrototypeTool
  - bundle exec rspec

after_script:
  - ./cc-test-reporter after-build --exit-code $?